# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ohxwtkskkjuvzzyboxaa.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9oeHd0a3Nra2p1dnp6eWJveGFhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE5NDY3MTQsImV4cCI6MjA5NzUyMjcxNH0.6Nn9SuABKAD3qFLtHy1-fnpsD4a-SoNtuXVMqlc-Yr8
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
